html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-sytem, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main{
    height: 90vh;
    width: 70%;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    gap:10px;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
    transition: all ease-in 100ms;
    background-color: #fff;
}

.item:hover{
    background-color: #2982ffee;
}


.active-item{
    background-color: #2982ff;
    color: white;
}


.thumbnail {
    width: 50px;
    height:50px;
    background-color: #ccc;
    border-radius: 4px;
}